# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BTL_WebAPI_Android\DataProcessTQMall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
